@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(
            180deg,
            rgba(255, 255, 228, 1) 0%,
            rgba(236, 191, 137, 1) 100%
        )
        no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100lvh;
    color: black;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.form-textbox {
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: 600 !important;
}

.bowlby-one {
    font-family: 'Bowlby One SC';
    font-weight: 400;
}

h1 {
    font-family: 'Bowlby One SC';
    font-weight: 400;
}